<ol>
  <li>
    <%= f.label 'Parent node:' %>
    <%= f.text_field :parent %>
  </li>
  <li>
    <%= f.label 'Previous node:' %>
    <%= f.text_field :prev_sib %>
  </li>
  <li>
    <%= f.label 'Next node:' %>
    <%= f.text_field :next_sib %>
  </li>
  <li>
    <%= f.label 'Unchecked save (USE AT YOUR OWN RISK):' %>
    <%= f.check_box :skip_checked_save %>
  </li>
</ol>
